.best-products {
  padding-block: 150px 35px;
}
.head {
  text-align: center;
}

.head h3 {
  font-family: var(--font-roboto);
  font-size: 3.1rem;
  font-weight: 700;
}
.head p {
  color: var(--color-sub);
  margin-top: 15px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.swiper {
  padding-block: 70px !important;
}
.slideItem {
  margin-top: 30px !important;
  /* margin-right: 30px !important; */
}

/* Pesponsive */

@media (max-width: 900px) {
  .best-products {
    padding-block: 60px 35px;
  }
}
@media (max-width: 500px) {
  .head h3 {
    font-size: 1.5rem;
  }
  .head p {
    font-size: 1rem;
  }
}
