.detail {
  height: 90vh;
}

.detail-container {
  width: 100%;
  height: 100%;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.product-img {
  width: 35%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.2); */
  position: relative;
  margin-right: 50px;
  background-color: #fff;
}

.product-img img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  animation: imaging 5s ease-in-out infinite;
}

.product-detail {
  width: 50%;
  padding-block: 40px;
  padding-inline: 60px;

  color: #fff;
  overflow: auto;
  resize: both;
  position: relative;
}

.product-detail::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -1;
  border-radius: 60% 260% 290% 140%;

  background: linear-gradient(
    45deg,
    rgba(9, 215, 221, 1),
    rgba(196, 7, 190, 1)
  );
  background-size: 150%;
  animation: bordering 11s ease-in-out infinite;
}

.product-detail h1 {
  /* width: 80%; */
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.164), -1px -1px 0 rgba(0, 0, 0, 0.164),
    1px -1px 0 rgba(0, 0, 0, 0.164), -1px 1px 0 rgba(0, 0, 0, 0.164);
}

.product-detail > span {
  font-size: 1.5rem;
  display: block;
  margin-block: 20px;
  color: var(--color-red);
  font-family: var(--font-roboto);
  font-weight: 900;
}

.product-detail > p {
  width: 85%;
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
  font-family: var(--font-rubik);
}

.form {
  margin-top: 50px;
}

.form-container {
  display: flex;
}
/* Form control */

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control label {
  display: block;
  margin-bottom: 30px;
}

.ctr-btn_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  border-radius: 50px;
}

.ctr-btn_inner > input {
  font-size: 1rem;
  text-align: center;
  background: transparent;
  border: none;
  appearance: textfield !important;
  -webkit-appearance: textfield !important;
  pointer-events: none;
}

.dec {
  padding: 5px 15px;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.add {
  font-size: 1.5rem;
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0px 50px 50px 0px;
}

.ctr-btn_inner button:hover {
  background-color: var(--color-dark);
  color: #fff;
  cursor: pointer;
}
.ctr-btn_inner button:active {
  transform: scale(1.05);
}

.ctr-btn_inner > input::-webkit-inner-spin-button,
.ctr-btn_inner > input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Total price */
.total-price {
  text-align: center;
  margin-left: 100px;
  /* width: 20%; */
}

.total-price label {
  display: block;
  margin-bottom: 30px;
}

.total-price > div {
  font-size: 1.8rem;
  padding-top: 6px;
  font-family: var(--font-roboto);
  font-weight: 900;
}

.form-btn {
  width: 100%;
  /* background-color: #ffffff51; */
  display: flex;
  align-items: flex-end;
}

.btn {
  width: 80%;
  display: block;
  padding: 10px;
  margin-top: 40px;
  font-size: 1.1rem;
  outline: none;
  border-radius: 10px;
  border: none;
  background: var(--color-red);
  color: #fff;
  font-family: var(--font-roboto);
  font-weight: 900;
}

@keyframes bordering {
  0% {
    border-radius: 60% 260% 290% 140%;
    background-position: 0 50%;
  }

  20% {
    border-radius: 80% 60% 150% 40%;
  }

  50% {
    background-position: 100% 50%;
  }

  40% {
    border-radius: 50% 300% 100% 200%;
  }

  60% {
    border-radius: 110% 260% 160% 90%;
  }

  80% {
    border-radius: 60% 260% 290% 140%;
    background-position: 0 50%;
  }
}

@keyframes imaging {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(20px) scale(1.001);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
