.showcase {
  height: 88vh;
}
.container {
  max-width: 1450px;
  height: 100%;
  margin: auto;
  background: linear-gradient(to right, #dcdcdc, #eeee);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.banner {
  height: 100%;
  padding-inline-start: 150px;
  display: flex;
  align-items: center;
}
.banner-inner {
  width: 100%;
}
.banner-inner h5 {
  font-size: 2rem;
  font-family: var(--font-com);
}
.banner-inner h4 {
  font-size: 4rem;
  font-family: var(--font-syne);
}
.banner-inner h1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 12rem;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  display: flex;
}

.banner-inner h1 span {
  display: block;
}

.banner-actions {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  width: 95%;
}

.description {
  width: 300px;
}
.description h6 {
  font-size: 1rem;
  margin-bottom: 14px;
  text-align: right;
  font-family: var(--font-roboto);
  font-weight: 900;
}
.description p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: var(--color-ligth-gray);
  text-align: justify;
  font-family: var(--font-roboto);
  font-weight: 400;
}
.banner-actions button {
  background: var(--color-red);
  font-family: var(--font-com);
  border: none;
  outline: none;
  color: #fff;
  padding: 0.9rem 3rem;
  border-radius: 30px;
}
/* Banner Image */
.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img > img {
  width: 75%;
  opacity: 0;
}

/* Animation */
.bump {
  animation: bump 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
}
.animate {
  animation: titleLittle 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.unAnimate {
  opacity: 0;
  transition: all 3s ease;
}
.animate-title {
  animation: titleBoom 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
}
.eAnimate-title {
  animation: eTitleBoom 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
}

/* KeyFrames */

@keyframes titleLittle {
  from {
    transform: translate(-10%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes titleBoom {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes eTitleBoom {
  0% {
    transform: translateY(70%);
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(-3%);
    z-index: 1;
  }
  100% {
    transform: translateY(0%);
    z-index: 1;
    opacity: 1;
  }
}

@keyframes bump {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive */

@media (max-width: 1285px) {
  .showcase {
    padding: 10px;
  }
  .banner-inner h1 {
    font-size: 10rem;
  }
}
@media (max-width: 1100px) {
  .banner {
    padding-inline-start: 65px;
    padding-top: 50px;
  }
  .banner-inner h1 {
    font-size: 10rem;
  }
  .banner-actions {
    margin-top: 200px;
  }
  .banner-actions button {
    font-size: 0.6rem;
    padding: 0.5rem 2rem;
  }
  .description p {
    font-size: 0.6rem;
    line-height: 1.5;
    color: var(--color-ligth-gray);
    text-align: justify;
    font-family: var(--font-roboto);
    font-weight: 400;
  }
}
@media (max-width: 1000px) {
  .banner {
    padding-top: 120px;
  }
  .banner-inner h1 {
    font-size: 8rem;
  }
  .banner-actions {
    margin-top: 200px;
  }
}
@media (max-width: 800px) {
  .banner-inner h5 {
    font-size: 1.5rem;
  }
  .banner-inner h4 {
    font-size: 3rem;
  }
  .banner-inner h1 {
    font-size: 5rem;
  }
  .banner-actions button {
    font-size: 0.6rem;
    padding: 0.5rem 2rem;
  }
  .description p {
    font-size: 0.6rem;
    line-height: 1.5;
    color: var(--color-ligth-gray);
    text-align: justify;
    font-family: var(--font-roboto);
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .showcase {
    display: none;
  }
}
