/* Devices */
.device {
  height: 100%;
}

.device-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-com);
  color: var(--color-white);
}

.device-header span {
  font-size: 1rem;
}

.device-header h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 10px 0px;
}

.device-header h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: #ffffff5e;
}

.btn {
  margin-top: 20px;
  padding: 10px 32px;
  outline: none;
  border: none;
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 20px;
}

.btn.primary {
  background: var(--bg-light);
  color: #000;
  mix-blend-mode: lighten;
}

/* Image */
.device-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.device-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.headphone:hover img {
  transform: translate(-40%, -50%) scale(1.1);
}

.watch img {
  transform: translate(-45%, -57%);
}
.watch:hover img {
  transform: translate(-45%, -57%) scale(1.3);
}
.laptop img {
  width: 63%;
  transform: translate(-20%, -50%);
}
.laptop:hover img {
  transform: translate(-20%, -50%) scale(1.1);
}

.console img {
  width: 52%;
  transform: translate(-11%, -50%);
}
.console:hover img {
  transform: translate(-11%, -50%) scale(1.1);
}
.virtual img {
  width: 94%;
  transform: translate(-21%, -43%);
}
.virtual:hover img {
  width: 94%;
  transform: translate(-21%, -43%) scale(1.1);
}

.speaker img {
  width: 91%;
  transform: translate(-30%, -30%);
  transition: all 0.5s ease-in-out;
}
.speaker:hover img {
  transform: translate(-50%, -40%) scale(1.1);
}

@media (max-width: 400px) {
  .device-header h3 {
    font-size: 2.5rem;
  }
}
