.news-item {
  padding: 30px;
}

.news-item_img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.news-item_img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item_author {
  margin-block: 20px;
}

.news-item_content h4 {
  margin-bottom: 20px;
  font-family: var(--font-rubik);
  font-size: 1.2rem;
}
.news-item_content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  font-size: 0.7;
  font-family: var(--font-roboto);
  font-weight: 400;
}
