.recent-news {
  padding-block: 100px 35px;
}
.head {
  text-align: center;
}

.head h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.head p {
  color: var(--color-sub);
}

.news {
  /* display: flex;
  justify-content: space-between; */
  padding-top: 70px;
}
