.recent-news {
  padding-block: 100px 35px;
}
.head {
  text-align: center;
}

.head h3 {
  margin-bottom: 10px;
  font-family: var(--font-roboto);
  font-size: 3.1rem;
  font-weight: 700;
}

.head p {
  color: var(--color-sub);
}

.swiper {
  padding-block: 70px !important;
}

@media (max-width: 500px) {
  .head h3 {
    font-size: 1.5rem;
  }
  .head p {
    font-size: 1rem;
  }
}
