@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Syne:wght@400;500;600;700&display=swap");
:root {
  --color-inactive: #c7c7c7;
  --color-white: white;
  --color-dark: #101010;
  --color-active: #101010;
  --bg-dark: linear-gradient(-28deg, #363636, #000);
  --bg-yellow: #fdc62e;
  --bg-red: linear-gradient(-90deg, #fd4c56, #f42c37, #f42c37, #f42c37);
  --bg-light: #edeef1;
  --bg-green: #2cd06f;
  --bg-blue: linear-gradient(-28deg, #188dff, #147aff);
  --color-red: #f42c37;
  --color-light-gray: #41414198;
  --font-com: "Comfortaa", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-syne: "Syne", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.btn {
}
